/*ok so this space  was there when i copy pasted it so its gonna be here now, i wrote the comment in that space*/
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status, #number_of_objects
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 30px;
}